{
  "singleQuote": true,
  "trailingComma": "all",
  "astroAllowShorthand": false,
  "astroSkipFrontmatter": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
