---
import Layout from '../../layouts/Layout.astro';
import AuthLayout from '../../components/auth/AuthLayout';
import ResetPasswordForm from '../../components/auth/ResetPasswordForm';
import { isFeatureEnabled } from '../../features/featureFlags';

// Check if auth feature is enabled
if (!isFeatureEnabled('resetPassword')) {
  return Astro.redirect('/');
}
---

<Layout>
  <div class="flex flex-col h-screen max-h-screen bg-gray-950">
    <main class="flex-grow">
      <AuthLayout
        title="Reset password"
        subtitle="We'll send you instructions to reset your password"
      >
        <ResetPasswordForm client:only="react" />
      </AuthLayout>
    </main>
  </div>
</Layout>
