---
import Layout from '../../layouts/Layout.astro';
import AuthLayout from '../../components/auth/AuthLayout';
import ResetPasswordForm from '../../components/auth/ResetPasswordForm';

// Suppress unused parameter warnings
const handleSubmit = () => {};
---

<Layout>
  <div class="flex flex-col h-screen max-h-screen bg-gray-950">
    <main class="flex-grow">
      <AuthLayout
        title="Reset password"
        subtitle="We'll send you instructions to reset your password"
      >
        <ResetPasswordForm client:only="react" onSubmit={handleSubmit} />
      </AuthLayout>
    </main>
  </div>
</Layout>
