---
import Layout from '../../layouts/Layout.astro';
import AuthLayout from '../../components/auth/AuthLayout';
import UpdatePasswordForm from '../../components/auth/UpdatePasswordForm';
---

<Layout>
  <div class="flex flex-col h-screen max-h-screen bg-gray-950">
    <main class="flex-grow">
      <AuthLayout title="Update Your Password" subtitle="Enter and confirm your new password">
        <UpdatePasswordForm client:only="react" />
      </AuthLayout>
    </main>
  </div>
</Layout>
