---
import Layout from '../../layouts/Layout.astro';
import AuthLayout from '../../components/auth/AuthLayout';
import UpdatePasswordForm from '../../components/auth/UpdatePasswordForm';

const tokenHash = Astro.url.searchParams.get('token_hash');
console.log('tokenHash', tokenHash);

if (!tokenHash) {
  return Astro.redirect('/auth/reset-password?error=invalid-token');
}

const {
  error,
  data: { user },
} = await Astro.locals.supabase.auth.verifyOtp({
  token_hash: tokenHash,
  type: 'recovery',
});

console.log('user found for update password', user);

if (error) {
  console.error('Error verifying OTP:', error.message);
  return Astro.redirect('/auth/reset-password?error=invalid-token');
}
---

<Layout>
  <div class="flex flex-col h-screen max-h-screen bg-gray-950">
    <main class="flex-grow">
      <AuthLayout title="Update Your Password" subtitle="Enter and confirm your new password">
        <UpdatePasswordForm client:only="react" />
      </AuthLayout>
    </main>
  </div>
</Layout>
