---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar';
import TwoPane from '../components/TwoPane';
import Footer from '../components/Footer';
---

<Layout>
  <div class='flex flex-col h-screen max-h-screen bg-gray-950 overflow-hidden'>
    <Topbar client:load />
    <main class='flex-grow overflow-auto'>
      <TwoPane client:load />
    </main>
    <Footer client:load />
  </div>
</Layout>
