---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar';
import TwoPane from '../components/TwoPane';
import Footer from '../components/Footer';
---

<Layout>
  <div class='flex flex-col min-h-screen bg-gray-900'>
    <Topbar client:load />
    <TwoPane client:load />
    <Footer client:load />
  </div>
</Layout>
