---
import '../styles/global.css';
import SEO from './SEO.astro';
import Fonts from './Fonts.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Emoji Favicon -->
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <SEO />
    <Fonts />
    <title>10xRules.ai</title>
  </head>
  <body class="bg-gray-950">
    <slot />
  </body>
</html>
